body{background-color:darkseagreen;
  text-align: center;
  text-decoration: underline;}

ul{text-align:left;
color:firebrick;}

p{text-transform:uppercase;
text-decoration: line-through;}

nav{color: magenta;
text-align: left;}